* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #2d2d2d;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #2d2d2d;
  padding: 10px;
  -webkit-app-region: drag;
  z-index: 1000;
  position: relative;
}

.window-controls {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 10px;
}

.window-control {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transition: all 0.3s;
}

.window-control:hover {
  color: #00ff9d;
}

.nav-bar {
  display: flex;
  gap: 8px;
  -webkit-app-region: no-drag;
  align-items: center;
}

.nav-btn {
  background: #3d3d3d;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-btn:hover {
  background: #00ff9d;
  color: #000;
}

#url-bar {
  flex: 1;
  border: none;
  border-radius: 20px;
  background: #3d3d3d;
  color: white;
  outline: none;
  -webkit-app-region: no-drag;
  cursor: text;
  padding: 12px 20px;
  font-size: 14px;
  transition: all 0.3s ease;
}

#url-bar:focus {
  background: #ffffff15;
  box-shadow: 0 0 15px #00ff9d33;
}

.loading {
  background: linear-gradient(90deg, #3d3d3d, #4d4d4d, #3d3d3d) !important;
  background-size: 200% 100% !important;
  animation: loading 1.5s infinite !important;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Botão de login com estilo inspirado no Google */
.login-btn {
  background: #3d3d3d;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-app-region: no-drag;
}

.login-btn:hover {
  background-color: #f8f8f8;
}

/* Tab Bar */
.tab-bar {
  display: flex;
  align-items: center;
  background: #3d3d3d00;
  padding: 5px;
  -webkit-app-region: no-drag;
}

.tab-btn {
  background: #4d4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-app-region: no-drag;
  display: inline-flex;
  align-items: center;
}

.tab-btn:hover {
  background: #00ff9d;
  color: #000;
}

.active-tab {
  background: #00ff9d;
  color: #000;
}

/* Botão de fechamento da aba */
.close-tab {
  margin-left: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container para os webviews */
#webview-container {
  position: fixed;
  top: 150px; /* Altura combinada do header + tab bar */
  left: 0;
  right: 0;
  bottom: 0;
}

/* Temas: claro e escuro */
.light-theme {
  background-color: #f0f0f0 !important;
  color: #000 !important;
}

.dark-theme {
  background-color: #1a1a1a !important;
  color: #fff !important;
}


